# --------- pytorch --------- #
torch>=2.0.0
torchvision>=0.15.0
lightning>=2.0.0
torchmetrics>=0.11.4

# --------- loggers --------- #
tensorboard>=2.15.1 # this is the only supported logger currently
# wandb
# neptune
# mlflow
# comet-ml
# aim>=3.16.2  # no lower than 3.16.2, see https://github.com/aimhubio/aim/issues/2550


# ----------- ml ------------ #
# scikit-learn
# xgboost

# --------- others ---------- #
rich            # beautiful text formatting in terminal
pytest          # tests
# sh              # for running bash commands in some tests (linux/macos only)
matplotlib      # for plotting
numpy<=1.26.4 
pandas
ipywidgets      # for rich interactive visualizations in notebooks
psutil          # for monitoring system resources during training
jupyter         # for running notebooks

# --------- external --------- #
einops==0.8.0
local-attention==1.9.14
matplotlib==3.7.0
numpy==1.23.5
pandas==1.5.3
patool==1.12
reformer-pytorch==1.4.4
scikit-learn==1.2.2
scipy==1.10.1
sktime==0.16.1
sympy==1.11.1
torch==1.7.1
tqdm==4.64.1